@import "src/theme/variables";

:host {
  height: 100vh;
}

.app-layout {
  height: 100%;
  display: flex;

  ::ng-deep .preview {
    background-color: #428bca30;
    padding: 0 0.5rem;
  }

  @keyframes fadeInNotification {
    0% { background-color: #428bca; }
    100% { background-color: #FFFFFF00; }
  }

  ::ng-deep nz-list nz-spin .ant-spin-container {
    display: flex;
    flex-direction: column-reverse;
  }

  ::ng-deep nz-list-item {
    animation: fadeInNotification 1s linear both;
  }

  ::ng-deep nz-list .ant-list-item-meta-avatar {
    margin-right:0.5rem;
  }

  .panel-drawer {
    position: absolute;
    width: 200px;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
    box-shadow: 1px 0 15px 0px rgba(0, 0, 0, .1);
    left: 40px;
    z-index: 1;
    background-color: white;
    transition: all .2s ease;
    padding:1rem 1rem;

    &.opened {
      transform: translate(200px);
    }

    .notification-username {
      color: #428bca;
      font-weight: 600;
    }
  }

  .app-layout-panel-left {
    width: 240px;
    background-color: @seconday_color;
    position: relative;
    z-index: 2;

    .panel-head {
      height: 200px;
    }
  }

  .app-layout-panel-main {
    flex: 1;
  }
}
