<div class="app-layout">
  <div class="panel-drawer" [ngClass]="{opened: showDrawer}">
    <!-- Afficher la liste des notifications -->
    <nz-timeline>
      <ng-container *ngIf="(notification$ | async) as notificationState" class="timeline">
        <nz-timeline-item *ngFor="let notififcation of notificationState.notifications" (click)="openRoom(notification.payload.room.id)">
          <div *ngIf="notififcation.subject === 'room_added'">
            {{ notififcation | json }}
            <!-- Ajout d'une room {{ notification.payload.room.name }} -->
          </div>
        </nz-timeline-item>
      </ng-container>
    </nz-timeline>

  </div>
  <div class="app-layout-panel-left">
    <div class="panel-head">
      <app-user-widget (toggleNotifications)="onToggleNotifications()"></app-user-widget>
    </div>
    <div class="panel-body">
      <app-room-menu></app-room-menu>
    </div>

  </div>
  <div class="app-layout-panel-main">
    <router-outlet></router-outlet>
  </div>
</div>