<div class="app-layout">
  <div class="panel-drawer" [ngClass]="{opened: showDrawer}">
    <!-- Afficher la liste des notifications -->
    <nz-list nzItemLayout="horizontal">
      <ng-container *ngIf="(notification$ | async) as notificationState" class="timeline">

        <nz-list-item *ngFor="let notif of notificationState.notifications" (click)='redirectByNotif(notif)'
          [ngClass]="notif.viewedAt > 0 ? ['viewed']: ['unviewed']">
          <nz-list-item-meta [nzAvatar]="notif.payload.user.photoUrl || notif.payload.user.photoLocation"
            [nzDescription]="notif.timestamp | feedDatePipe : 'short'">
            <nz-list-item-meta-title>
              <div>
                <span class="notification-username">{{ notif.payload.user.username }}</span>
                <span class="notification-description" *ngIf="notif.subject === 'new_user'">
                  viens de nous rejoindre
                </span>

                <span class="notification-description" *ngIf="notif.subject === 'post_liked'">
                  à liker l'un de votre post : <i class="preview">{{ notif.payload.preview | slice : 0 : 32 }}</i>
                </span>

                <span class="notification-description" *ngIf="notif.subject === 'room_added'">
                  à ajouté la room {{ notif.payload.room.name }}
                </span>

              </div>
            </nz-list-item-meta-title>
          </nz-list-item-meta>
        </nz-list-item>

      </ng-container>
    </nz-list>

  </div>
  <div class="app-layout-panel-left">
    <div class="panel-head">
      <app-user-widget (toggleNotifications)="onToggleNotifications()"></app-user-widget>
    </div>
    <div class="panel-body">
      <app-room-menu></app-room-menu>
    </div>

  </div>
  <div class="app-layout-panel-main">
    <router-outlet></router-outlet>
  </div>
</div>