@import "src/theme/variables";

:host {
  height: 100vh;
}

.app-layout {
  height: 100vh;
  display: flex;

  ::ng-deep .preview {
    background-color: #428bca30;
    padding: 0 0.5rem;
  }

  @keyframes fadeInNotification {
    0% { background-color: #428bca; }
    100% { background-color: #428bca10; }
  }

  ::ng-deep nz-list nz-spin {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 100vh;
  }

  ::ng-deep nz-list nz-spin .ant-spin-container {
    display: flex;
    flex-direction: column-reverse;
  }

  ::ng-deep nz-list-item {
    // animation: fadeInNotification 1s linear;
    padding: 1rem;
    border-bottom: 0;
    transition: 300ms;
  }

  :ng-deep .ant-list:hover {
    background-color: #428bca60;
  }

  ::ng-deep nz-list .ant-list-item-meta-avatar {
    margin-right:0.5rem;
  }

  ::ng-deep .unviewed {
    border-left: 2px solid yellowgreen;
    background-color: rgba(0,255,0,0.1);
  }

  ::ng-deep .viewed {
    border-left: 2px solid #428bca;
    background-color: #428bca10;
  }

  .panel-drawer {
    position: absolute;
    width: 200px;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
    box-shadow: 1px 0 15px 0px rgba(0, 0, 0, .1);
    left: 40px;
    z-index: 1;
    background-color: white;
    transition: all .2s ease;

    &.opened {
      transform: translate(200px);
    }

    .notification-username {
      color: #428bca;
      font-weight: 600;
    }
  }

  .app-layout-panel-left {
    width: 240px;
    background-color: @seconday_color;
    position: relative;
    z-index: 2;

    .panel-head {
      height: 200px;
    }
  }

  .app-layout-panel-main {
    flex: 1;
  }
}
