@import "src/theme/variables";

:host {
  height: 100vh;
}

.app-layout {
  height: 100vh;
  display: flex;

  ::ng-deep .preview {
    background-color: #428bca30;
    padding: 0 0.5rem;
  }

  @keyframes fadeInNotificationLayout {
    0% { background-color: #00000000; }
    100% { background-color: #00000030; }
  }

  ::ng-deep nz-list nz-spin {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 100vh;
  }

  ::ng-deep nz-list nz-spin .ant-spin-container {
    display: flex;
    flex-direction: column-reverse;
    background-color:white;
  }

  ::ng-deep nz-list-item {
    padding: 1rem;
    border-bottom: 0;
    transition: 300ms;
  }

  ::ng-deep nz-list .ant-list-item-meta-avatar {
    margin-right:0.5rem;
  }

  ::ng-deep .unviewed {
    border-left: 2px solid yellowgreen;
    background-color: rgba(0,255,0,0.3);
  }

  ::ng-deep .viewed {
    border-left: 2px solid #428bca;
    background-color: #428bca10;
  }

  .panel-drawer {
    position: absolute;
    width: calc(100% - 240px);
    height: 100vh;
    overflow: hidden;
    left: -100%;
    z-index: 1;
    transition: all .7s ease;
    display: flex;

    &.opened {
      display: flex;
      transform: translate(calc(100% + 480px));
    }

    nz-list {
      width: 300px;
    }

    .notification-username {
      color: #428bca;
      font-weight: 600;
    }
  }

  .app-layout-panel-left {
    width: 240px;
    background-color: @seconday_color;
    position: relative;
    z-index: 2;

    .panel-head {
      height: 200px;
    }
  }

  .app-layout-panel-main {
    flex: 1;
  }

  .dark {
    width: 100%;
    &.open {
      animation: 0.3s fadeInNotificationLayout 0.7s linear both;
    }
  }
}
