<nz-modal [(nzVisible)]="isVisible" nzTitle="Nouvelle room" (nzOnCancel)="close()" (nzOnOk)="submit()">
  <form nz-form [formGroup]="roomCreationForm" nzLayout="vertical">
    <!-- NAME -->
    <nz-form-item>
      <nz-form-label nZRequired nzFor="name">Nom de la room</nz-form-label>
      <nz-form-control [nzErrorTip]="nameErrorTpl">
        <input class="ant-input" type="text" formControlName="name" id="name">
      </nz-form-control>
      <ng-template #nameErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">Champ obligatoire</ng-container>
      </ng-template>
    </nz-form-item>

    <!-- TYPE -->
    <nz-form-item>
      <nz-form-label nZRequired nzFor="name">Type</nz-form-label>
      <nz-form-control nzErrorTip="Type obligatoire">
        <nz-select formControlName="type" required>
          <nz-option nzValue="text" nzLabel="Libre"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>
