<div class="login">

  <form nz-form nzLayout="vertical" [formGroup]="loginForm" (ngSubmit)="submit()">

    <!-- USERNAME -->
    <nz-form-item>
      <nz-form-label nzRequired nzFor="username">Pseudo</nz-form-label>
      <nz-form-control nzErrorTip="Champ obligatoire">
        <input nz-input type="text" formControlName="username" id="username" class="ant-input" />
      </nz-form-control>
    </nz-form-item>

    <!-- PASSWORD -->
    <nz-form-item>
      <nz-form-label nzRequired nzFor="password">Mot de passe</nz-form-label>
      <nz-form-control nzErrorTip="Champ obligatoire">
        <input nz-input type="password" id="password" formControlName="password" class="ant-input" />
      </nz-form-control>
    </nz-form-item>

    <!-- SUBMIT BUTTON -->
    <nz-form-item>
      <nz-form-control>
        <button nz-button class="register-button" nzType="default" [disabled]="!loginForm.valid">Connexion</button>
      </nz-form-control>
    </nz-form-item>

  </form>

  <p class="divider">Pas encore enregistré ?</p>

  <button (click)="goToRegistration()" class="register-button" nz-button nzType="primary">Créer un compte</button>

</div>